@tailwind base;
@tailwind components;
@tailwind utilities;

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    margin: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.input:focus ~ .label, 
.input:not(:placeholder-shown).input:not(:focus) ~ .label  {
    top: -10px;
    transition: 0.2s ease;
    font-size: 14px;
    color: #8b8b8b;
    background-color: none;
}

.error .input:focus ~ .label, 
.error .input:not(:placeholder-shown).input:not(:focus) ~ .label{
    color: rgb(239 68 68);
}
